{% load static %}

      <!--=============== CSS ===============-->
      

<div class="sidebar" id="sidebar">
    <nav class="sidebar__container">
      <a href = "">
       <div class="sidebar__logo">
          
          <img src="{% static 'img/logo.png' %}" alt="" href=""  class="sidebar__logo-text">
       </div>
      <a>

       <div class="sidebar__content">
          <div class="sidebar__list">

             <a href="{% url 'home' %}" class="sidebar__link active-link">
                <i class="ri-home-5-line"></i>
                <span class="sidebar__link-name">Home</span>
                <span class="sidebar__link-floating">Home</span>
             </a>
             
             <a href="{% url 'qrscanner' %}" class="sidebar__link">
               <i class="ri-qr-code-line"></i>
                <span class="sidebar__link-name">QR Scan</span>
                <span class="sidebar__link-floating">Conocer gente</span>
             </a>

             


      

          </div> 
       </div>
      
    </nav>
 </div>
